main {
  padding: 20px;
}

.todo-title {
  font-weight: bold;
  text-align: center;
}


.state {
  font-style: italic;
  color: #888;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.barre {text-decoration:line-through;}

.button--group{
  margin-bottom: 10px;
}
