<main class="todo-contanier">
  <h2 class="todo-title"> {{ TODO.TODO.ADD }} </h2>
  <mat-card class="todo-card  todo-card-container">
    <form
      [formGroup]="formTodo"
      novalidate
      class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Titre</mat-label>
        <input matInput
          formControlName="title"
        >

      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          formControlName="description"
          rows="10"
          ></textarea>
      </mat-form-field>
      <mat-card-actions class="button--group">
        <button
          mat-stroked-button
          class="button--group__space--between"
          (click)="onBack()"
          color="primary">Retour</button>
        <button
          mat-flat-button
          [disabled]="formTodo.invalid"
          (click)="onSubmit()"
          color="primary">
          Ajouter
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</main>
