<main class="todo-contanier">
  <h2 class="todo-title"> {{ TODO.TODOLIST.ADD }} </h2>
  <mat-card class="todo-card  todo-card-container">
    <form
      [formGroup]="todoForm"
      novalidate
      class="form-todo">
      <mat-form-field class="form-todo-field">
        <mat-label>{{ TODO.TODO.TITLE }}</mat-label>
        <input matInput formControlName="title">
      </mat-form-field>
      <mat-form-field class="form-todo-field">
        <mat-label>{{ TODO.TODO.DESCRIPTION }}</mat-label>
        <textarea
          matInput
          formControlName="description"
          rows="10"
          ></textarea>
      </mat-form-field>
      <mat-card-actions class="button--group">
        <button
          mat-stroked-button
          class="button--group__space--between"
          (click)="onBack()"
          color="primary">{{ TODO.TODOBACK }}</button>
        <button
          mat-flat-button
          [disabled]="todoForm.invalid"
          (click)="onSubmit()"
          color="primary">
          {{ TODO.TODO.ADD }}
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</main>
